.listItem:hover[b-ltyg4j4m33]{
    background-color: rgb(211, 211, 255);
    color:black;
}

.enlace[b-ltyg4j4m33]{
    background-color: rgb(172, 219, 30);
    color: white;
    padding: 5px 10px;
    border-radius: 5px 0px 0px 5px;
}
.barra[b-ltyg4j4m33]{
    padding-right: 15px;
}