.mainContainer[b-49fi5aicr5]{
    max-width: 500px;
    background-color: white;
}
.mainContainer h1[b-49fi5aicr5]{
    font-size: x-large;
    font-weight: bold;
}
.mainContainer form[b-49fi5aicr5]{
    box-shadow: 10px 10px 0px black;
}
.mainContainer form:hover[b-49fi5aicr5]{
    box-shadow: 10px 10px 0px rgb(135, 0, 197);

}