<footer>
    <div>
        <ul>
            <li>Quienes somos</li>
            <li>Gobierno corporativo</li>
        </ul>
        <ul>
            <li>Casinos</li>
            <li>Salas de juego</li>
        </ul>
        <ul>
            <li>Juego responsable</li>
            <li>Medioambiente</li>
        </ul>
        <ul>
            <li>La vida en CIRSA</li>
            <li>Trabaja con nosotros</li>
        </ul>
        <ul>
            <li>Inversores</li>
            <li>Prensa</li>
        </ul>
    </div>
    <div class="bottom">
        <ul class="d-flex">
            <li>Política de privacidad</li>
            <li>Política de Cookies</li>
            <li>Aviso legal</li>
            <li>Política de privacidad Retail</li>
            <li>Derechos Protección de datos</li>
        </ul>
    </div>
</footer>