footer {
    background: #101820;
    width: 100%;
    min-height: 100px;
    display: flex;
    padding: 10px;
    margin-top: 50px;
    color: white;
    font-size: small;
}

ul li {
    margin-right: 15px;
    line-height: 3;
}

ul {
    flex-direction: column;
    display: flex;
}

li:hover {
    cursor: pointer;
}

.bottom {
    border-top: 1px solid gray;
}

@media (min-width:640px) {
    footer {
        flex-direction: column;
    }

    footer ul {
        flex-direction: row;
    }
}