@page "/fotos"
<div class="grid">
    <div>
        <div class="absoluto"></div>Foto1
    </div>
    <div>
        <div class="absoluto"></div>Foto1
    </div>
    <div>
        <div class="absoluto"></div>Foto1
    </div>
    <div>
        <div class="absoluto"></div>Foto1
    </div>
    <div>
        <div class="absoluto"></div>Foto1
    </div>
    <div>
        <div class="absoluto"></div>Foto1
    </div>
    <div>
        <div class="absoluto"></div>Foto1
    </div>
    <div>
        <div class="absoluto"></div>Foto1
    </div>
    <div>
        <div class="absoluto"></div>Foto1
    </div>
    <div>
        <div class="absoluto"></div>Foto1
    </div>
</div>