@page "/register"
<PageTitle>Regístrate</PageTitle>

<div class="container mainContainer">
    <h1 class="mb-4">Conviértete en afiliado</h1>
    <form class="border p-4">
        <div class="mb-2">
            <label class="form-label">Nombre</label> <input type="name" class="form-control" />
        </div>
        <div class="mb-2">
            <label class="form-label">e-mail</label> <input type="email" class="form-control" />
        </div>
                <div class="mb-2">
            <label class="form-label">Nacimiento</label> <input type="email" class="form-control" />
        </div>
        <button type="button" class="btn btn-primary mt-2">Solicitar aprobación</button>
    </form>
</div>